/* Fiona Campbell */
/* knitting-project */
/* EECS 481 */
/* style.css */

body {
	background-color: #fef1b5;
}

.button {
	display: block;
	margin: auto;
	margin-top: 50px;
}

.letter {
	display: block;
	margin: auto;
	margin-top: 200px;
}

